.scroll {
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    padding: 0 10px 0 0;

    background-color:#dee3fc;
    background-image:
    radial-gradient(circle at 100% 150%, #dee3fc 24%, #c6ccec 24%, #c6ccec 28%, #dee3fc 28%, #dee3fc 36%, #c6ccec 36%, #c6ccec 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, #dee3fc 24%, #c6ccec 24%, #c6ccec 28%, #dee3fc 28%, #dee3fc 36%, #c6ccec 36%, #c6ccec 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, #c6ccec 10%, #dee3fc 10%, #dee3fc 23%, #c6ccec 23%, #c6ccec 30%, #dee3fc 30%, #dee3fc 43%, #c6ccec 43%, #c6ccec 50%, #dee3fc 50%, #dee3fc 63%, #c6ccec 63%, #c6ccec 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, #c6ccec 5%, #dee3fc 5%, #dee3fc 15%, #c6ccec 15%, #c6ccec 20%, #dee3fc 20%, #dee3fc 29%, #c6ccec 29%, #c6ccec 34%, #dee3fc 34%, #dee3fc 44%, #c6ccec 44%, #c6ccec 49%, transparent 49%, transparent),
    radial-gradient(circle at 0    50%, #c6ccec 5%, #dee3fc 5%, #dee3fc 15%, #c6ccec 15%, #c6ccec 20%, #dee3fc 20%, #dee3fc 29%, #c6ccec 29%, #c6ccec 34%, #dee3fc 34%, #dee3fc 44%, #c6ccec 44%, #c6ccec 49%, transparent 49%, transparent);
    background-size: 100px 50px;
}

