.navigationContainer {
    position: fixed;
    left: -300px;
    top: 0;
    width: 240px;
    height: 100vh;
    background-color: #dee3fc;
}

@media (min-width: 768px) {
    .navigationContainer {
        position: relative;
        left: 0;
        height: 100vh;
    }
}

.navigationContainerHeader {
    text-align: center;
    width: 240px;
    height: fit-content;
}

.navigationContainerLinks {
    width: 240px;
    height: 200px;
}

.link-list {
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    width: 90%;
    height: 40vh;
    margin-left: 10px;
}

.link-list-items {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

.link-list-items:hover{
    color: rgb(255, 123, 0);
}

.link-list-items a {
    font-size: 1.5rem;
    font-family: 'Cabin', sans-serif;
}