.navigationContainer {
    position: fixed;
    left: -300px;
    top: 0;
    width: 240px;
    height: 100vh;
    background-color: #dee3fc;
}

@media (min-width: 768px) {
    .navigationContainer {
        position: relative;
        left: 0;
        height: 100vh;
    }
}

.navigationContainerHeader {
    text-align: center;
    width: 240px;
    height: fit-content;
}

.navigationContainerLinks {
    width: 240px;
    height: 200px;
}

.logo {
    width: 150px;
    margin: 10px 0 0 10px;
}

.title {
    margin: 0;
    font-family: 'Allura', cursive;
    font-size: 3rem;
}